.App {
	width: 100vw;
}

body {
	margin: 0 auto;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	border: 1px solid blue;
	height: 100px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
form > input {
	font-size: 18px;
	border: 1px solid #5c47d3;
	box-sizing: border-box;
	vertical-align: middle;
	outline: none;
	height: 45px;
	border-radius: 5px;
	background-color: #f2f7fd;
	padding-left: 10px;
  }
  
form {
	border: 1px solid blue;
	width: 80vw;
	height: 60vh;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

ul {border: 1px solid rgb(234, 11, 11);
	width:400px;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

li {
	display: inline;
	font-size: 25px;
	margin-bottom: 20px;
	margin-right: 15px;
}

.icon {
	border: 1px solid rgb(13, 248, 25);
	color: pink;
	background-color: black;
	border: 2px solid black;
	margin-right: 15px;
}

button {
	cursor: pointer;
}

.btnDel {
	margin: 10px 15px;
	color: palevioletred;
	background-color: rgb(233, 233, 233);
}

.isDone {
	text-decoration: line-through;
}



 